@import '../../../../styles/variables';

.comments-input{
    margin-top: 30px;
    margin-left: 40px;
    height: 40px !important;
    padding-left: 30px;
    width: 40vw;
}

.comments-flex {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    align-items: center;
}

.comment-name {
    font-weight: 600;
}

.comment-date {
    margin-top: 5px;
    color: $grey-text;
    font-size: 13px;
}

.comments-add {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 28px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: $white-bg;
    font-weight: 600;
    background-color: $turkish-green;
}

.comment-card {
    margin-left: 30px;
    padding-top: 20px;
    max-width: 48vw;
}

.comment-initials {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.comment-info {
    display: flex;
    flex-flow: column nowrap;
}

.comment-header {
    display: flex;
    gap: 20px;
}

.comment-content {
    margin-top: 20px;
}