@import "../../styles/variables";

.main {
    width: 100vw !important;
}

.all-containers {
    display: flex;
    flex-flow: flex column nowrap;
    width: 100vw !important;
}

.active-section {
    padding-bottom: 10px;
    border-bottom: 2px solid $turkish-green;
}

.plus-icon {
    filter: $plus-icon;
}

.containers-header {
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.containers-section {
    width: 100vw !important;
}

.options {
    margin-left: 40px;
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
    color: $container-options;
    margin-top: 10px;
}

.container-details {
    line-height: 20px;
    margin-top: -30px;
    background-color: $input-bg;
    width: 84.3vw;
    height: 80vh;
    border-top: 1px solid $container-border-top;
}

.search-container {
    position: relative;
    display: flex;
    gap: 30px;
    margin-left: 40px;
    margin-top: 20px;
}

.search-icon {
    position: absolute;
    top: 30%;
    left: 10px;
    filter: brightness(0) saturate(100%) invert(48%) sepia(31%) saturate(781%) hue-rotate(119deg) brightness(97%)
        contrast(87%);
}

.search-container input {
    width: 15vw;
    height: 4vh;
    border: 1px solid $container-input;
    border-radius: 8px;
}

.search-box:focus {
    border: 1px solid $turkish-green;
}

::placeholder {
    font-size: 14px;
}

.search-box {
    padding-left: 35px;
}

.container-box__header {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    gap: 100px;
    border: 1px solid red;
    border-radius: 10px;
    margin-left: 35px;
    width: 80vw;
    height: 70vh;
    padding-top: 25px;
}

.container-box__header p {
    padding-left: 30px;
}

.containers-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.filter-button {
    position: relative;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $filter-button-border;
    border-radius: 7px;
    background-color: $filter-button-bg;
    color: $filter-button-text;
    font-weight: 500;
    cursor: pointer;
}

.filter-icon {
    position: absolute;
    left: 10px;
    filter: brightness(0) saturate(100%) invert(51%) sepia(10%) saturate(2383%) hue-rotate(119deg) brightness(95%)
        contrast(82%);
}

.filter-menu {
    position: absolute;
    height: 40vh;
    width: 30vw;
    border: 1px solid $filter-menu-border;
    background-color: $filter-menu-bg;
    display: flex;
    flex-flow: column;
}

.filter-header__first-part {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.filter-header__first-part h4:first-child:not(.filter-header__second-part h4) {
    margin-top: 30px;
}

.filter-header__second-part {
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    gap: 40px;
}

.filter-header__second-part h4:first-child {
    color: $dark-grey;
}

.filter-header__second-part h4:nth-child(2) {
    color: $turkish-green;
}

.filter-menu__header {
    padding-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.filter-menu__filters h3 {
    padding-left: 20px;
    font-weight: 500;
}

.filter-menu__options {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.filter-menu__options p:first-child {
    color: $gray;
}

.date-picker-container label{
    position: absolute;
    top: 60px;
    left: 30px;
}

.ant-picker-dropdown {
    position: absolute;
    left: 36% !important;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    height: 230px;
    width: 230px;
}

.ant-picker-header-view button {
    padding: 5px;
    background-color: $turkish-green;
    color: $white-bg;
    border: 0;
}

.ant-picker-header-view button:first-child{
    margin-right: 10px;
}

.ant-picker-cell-inner {
    background-color: $turkish-green;
    color: $white-bg;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.filter-dropdown-date {
    display: flex;
    flex-flow: column ;
    margin-top: 10px;
    margin-bottom: -15px;
}

.filter-dropdown-date select {
    max-width: 240px;
}
.filter-columns {
    display: flex;
}

.option-status {
    margin-top: 20px;
    margin-bottom: -30px;
}

.option-yard {
    margin-bottom: -30px !important;
}

.option-activity {
    margin-top: 20px;
}

.filter-options-flex {
    display: flex;
    justify-content: space-between;
}

.column-2 {
    margin-right: 30px;
}
.filter-dropdown-activity {
    margin-top: 35px !important;
}

.filter-date-picker {
    padding-left: 10px;
    max-width: 250px;
    max-height: 30px !important;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 20px;
}

.filter-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.9s ease-in-out; 
  }
  
  .filter-menu.visible {
    display: block;
    opacity: 1;
  }



.ant-picker-content  {
    max-width: 100px;
}

.ant-picker-content {
    width: 100%
}

.ant-picker-content td {
    padding-left: 10px;
    color: #000;
}

.date-picker input {
    margin-top: 40px;
    height: 30px;
    padding-left: 10px;
    max-width: 200px;
    margin-left: 25px;
}

.ant-picker-suffix {
    position: absolute;
    top: 33%;
    left: 33%;
    right: 0;
}

.filter-menu__options p:nth-child(2) {
    color: $turkish-green;
    font-weight: 500;
}

.custom-date-picker {
    max-width: 100px;
    max-height: 50px;
}

.container-box-table {
    margin-top: 20px;
}

.container-box__rows {
    height: 50px;
    background-color: $row-color-first;
}

.container-box__rows th {
    font-weight: 700;
    font-size: 14px;
    background-color: $repair-list-rows;
}

.container-box__table {
    width: 100%;
    border-collapse: collapse;
}

.container-box__table th {
    border: 1px solid $search-input;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
    padding-left: 30px;
    text-align: start;
}

.container-box__table td {
    text-align: start;
    width: 10px !important;
}

.container-box__container {
    border: 1px solid $search-input;
    border-radius: 10px;
    margin-left: 35px;
    width: 80vw;
    height: 70vh;
    margin-top: 20px;
}

.container-id__even td {
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $bg-white;
    border: 1px solid transparent;
    max-width: 30px;
}

.container-id__odd td {
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $row-color-first;
    border: 1px solid transparent;
    max-width: 30px;
}
.container-box__rows span {
    padding-left: 10px;
}

.container-box__rows th:nth-child(2) {
    color: $turkish-green;
}

.activity-text {
    border: 1px solid transparent;
    border-radius: 20px;
    color: red;
    text-align: center;
    max-width: 70px;
    padding: 5px;
}

.billing-style {
    background-color: $billing-bg;
    color: $billing-text;
}

.draft-style {
    background-color: $draft-bg;
    color: $draft-text;
}
