@import "../../styles/variables";

.main {
    width: 100vw !important;
    overflow-y: hidden;
}

.all-containers {
    display: flex;
    flex-flow: flex column nowrap;
    width: 100vw !important;
}

.active-section {
    padding-bottom: 10px;
    border-bottom: 2px solid $turkish-green;
}

.sort-column {
    display: flex;
    gap: 15px;
}

.sort-flex {
    display: flex;
    flex-flow: column nowrap;
}

.plus-icon {
    margin-top: -10px;
    filter: $plus-icon;
}

.containers-header {
    padding-left: 40px;
    padding-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.containers-header h1 {
    font-size: 32px;
    font-weight: 700 !important;
}

.containers-section {
    width: 100vw !important;
}

.options {
    margin-left: 40px;
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
    color: $container-options;
    margin-top: -10px;
    font-weight: 400;
    font-size: 15px;
}

.container-table tr {
    height: 20px !important;
    background-color: $table-row-bg;
}

.container-table tr > th {
    font-weight: 500 !important;
}

.container-table td > a {
    text-decoration: none;
    color: $text-black;
}

.container-table {
    margin-top: -100px;
}

.container-details {
    line-height: 20px;
    margin-top: -43px;
    background-color: $input-bg;
    width: 84.3vw;
    height: 83vh;
    border-top: 1px solid $container-border-top;
}

.search-container {
    position: relative;
    display: flex;
    gap: 30px;
    margin-left: 40px;
    margin-top: 20px;
}

.search-icon {
    position: absolute;
    top: 30%;
    left: 10px;
    filter: brightness(0) saturate(100%) invert(48%) sepia(31%) saturate(781%) hue-rotate(119deg) brightness(97%)
        contrast(87%);
}

.search-container input {
    width: 15vw;
    height: 4vh;
    border: 1px solid $container-input;
    border-radius: 8px;
}

.search-box:focus {
    border: 1px solid $turkish-green;
}

::placeholder {
    font-size: 14px;
}

.search-box {
    padding-left: 35px;
}

.container-box__header {
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    gap: 100px;
    border: 1px solid red;
    border-radius: 10px;
    margin-left: 35px;
    width: 80vw;
    height: 70vh;
    padding-top: 25px;
}

.container-box__header p {
    padding-left: 30px;
}

.containers-section {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.container-id a {
    text-decoration: none;
    color: $text-black;
}

.filter-icon {
    position: absolute;
    filter: brightness(0) saturate(100%) invert(51%) sepia(10%) saturate(2383%) hue-rotate(119deg) brightness(95%)
        contrast(82%);
}

.filter-menu {
    margin-top: 10px;
    position: absolute;
    height: 36vh;
    width: 30vw;
    border: 1px solid $light-border;
    background-color: $filter-menu-bg;
    display: flex;
    flex-flow: column;
    border-radius: 6px;
    z-index: 100;
}

.filter-header__first-part {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.approve-button {
    height: 38px;
    font-weight: 600;
}

.filter-header__first-part h4:first-child:not(.filter-header__second-part h4) {
    margin-top: 40px;
    font-weight: 500 !important;
    font-size: 18px !important;
}

.filter-header__second-part {
    margin-right: 30px;
    display: flex;
    gap: 40px;
    font-size: 16px !important;
}

.filter-header__second-part h4:first-child {
    color: $dark-grey;
}

.filter-header__second-part h4:nth-child(2) {
    color: $turkish-green;
}

.filter-menu__header {
    padding-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.filter-menu__filters h3 {
    padding-left: 20px;
    font-weight: 500;
}

.filter-menu__options {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.filter-menu__options p:first-child {
    color: $gray;
}

.filter-dropdown-date {
    display: flex;
    flex-flow: column ;
}

.filter-dropdown-date select {
    max-width: 240px;
    outline-color: 1px solid $light-border;
}

.filter-columns {
    display: flex;
}

.option-status {
    margin-top: 20px;
    margin-bottom: -30px;
}

.option-yard {
    margin-bottom: -30px !important;
}

.filter-options-container select input {
    border-radius: 8px !important;
}

.option-activity {
    margin-top: 15px;
}

.container-filter-menu.visible {
    height: 34vh !important;
}
.column-1 {
    display: flex;
}

.column-2 {
    display: flex;
    margin-right: 30px;
}
.filter-dropdown-activity {
    margin-top: 35px !important;
}

.container-filter-button {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 20px;
    background-color: $bg-white;
}

.ant-table-tbody > tr {
    max-height: 20px !important;
}
  
.container-filter-icon{
    position: absolute;
    left: 10px !important;
}
  .filter-menu.visible {
    display: block;
    opacity: 1;
  }

  .container-filter-button.change-button {
    background-color: $turkish-green;
    color: $white-bg;
  }

  .repair-filter-button.change-button span {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(340deg) brightness(105%) contrast(101%);
  }

.ant-picker-content  {
    max-width: 100px;
}

.ant-picker-content {
    width: 100%
}

.ant-picker-content td {
    padding-left: 10px;
    color: #000;
}

.filter-menu__options p:nth-child(2) {
    color: $turkish-green;
    font-weight: 500;
}

.container-box-table {
    margin-top: 20px;
}

.container-box__rows {
    height: 50px;
    background-color: $row-color-first;
}

.container-box__rows th {
    font-weight: 700;
    font-size: 14px;
    background-color: $repair-list-rows;
}

.container-box__table {
    width: 100%;
    border-collapse: collapse;
}

.container-box__table th {
    border: 1px solid $search-input;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
    padding-left: 30px;
    text-align: start;
}

.container-box__table td {
    text-align: start;
    width: 10px !important;
}

.container-box__container {
    border: 1px solid $search-input;
    border-radius: 10px;
    margin-left: 35px;
    width: 80vw;
    height: 70vh;
    margin-top: 20px;
}

.container-id__even td {
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $bg-white;
    border: 1px solid transparent;
    max-width: 30px;
}

.container-id__odd td {
    padding-left: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $row-color-first;
    border: 1px solid transparent;
    max-width: 30px;
}
.container-box__rows span {
    padding-left: 10px;
}

.container-box__rows th:nth-child(2) {
    color: $turkish-green;
}

.activity-text {
    border: 1px solid transparent;
    border-radius: 20px;
    color: red;
    padding-left: 5px;
    max-width: 120px;
}

.billing-style {
    background-color: $billing-bg;
    color: $billing-text;
    text-transform: capitalize;
}

.draft-style {
    background-color: $draft-bg;
    color: $draft-text;
    text-transform: capitalize;
}

.activity-text.draft-style {
    width: 95px;
}

.activity-title, .current-activity-title {
    text-transform: capitalize;
}

.container-export-menu > .export-container > button > span {
    left: 29%;
}

.container-export-menu {
    display: flex;
    width: 1080px;
    justify-content: space-between;
}