@import '../../../styles/variables';

.ant-upload-drag-icon{
    margin-top: -5px !important;
}

.ant-upload-text {
    font-size: 14px !important;
    color: $text-gray !important;
    font-weight: 400 !important;
}