@import '../../../styles/variables';

.non-maersk-details-section.disabled {
    opacity: 0.9; 
    pointer-events: none;
  }

  .section-title {
    align-items: center;
}

.section-title > span {
    margin-top: -10px !important;
}

  .section-two label, .section-one label, .section-zero label {
    display: block !important;
  }

  .section-zero > .repair-details__second-col > .container-repair-area:nth-child(2) > div {
    margin-left: -30px;
  }

  .edit-section-button {
    margin-bottom: 50px !important;
    margin-top: -20px;
  }

  .edit-buttons button:first-child {
    height: 50px;
  }

  .edit-buttons button:last-child {
    height: 50px;
  }

  .tick-icon-not-filled {
    border: 1.5px solid $text-gray;
    border-radius: 50%;
  }