@font-face {
     font-family: SFProDisplay, sans-serif;
     src: url('./SFPRODISPLAYBLACKITALIC.OTF') format(opentype);
     font-weight: 400;
     font-style: italic;
}

@font-face {
     font-family: SFProDisplay, sans-serif;
     src: url('./SFPRODISPLAYBOLD.OTF') format(opentype);
     font-weight: 700;
     font-style: normal;
}

@font-face {
     font-family: SFProDisplay, sans-serif;
     src: url('./SFPRODISPLAYHEAVYITALIC.OTF') format(opentype);
     font-weight: 700;
     font-style: italic;
}

@font-face {
     font-family: SFProDisplay, sans-serif;
     src: url('./SFPRODISPLAYLIGHTITALIC.OTF');
     font-weight: 300;
     font-style: italic;
}

@font-face {
     font-family: SFProDisplay, sans-serif;
     src: url('./SFPRODISPLAYMEDIUM.OTF');
     font-weight: 500;
     font-style: normal;
}

@font-face {
     font-family: SFProDisplay, sans-serif;
     src: url('./SFPRODISPLAYREGULAR.OTF');
     font-weight: 400;
     font-style: normal;
}
