@import '../../../../../../styles/variables';

.submit-button {
    background-color: $turkish-green;
    color: $white-bg;
    width: 580px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}