@import  '../../../styles/variables';

.header {
    margin-left: 30px;
    display: flex;
    gap: 10px;
}
.header p:first-child{
    margin-top: -50px !important;
}
.header p:last-child {
    margin-top: 20px;
    color: $text-gray;
    font-size: 14px;
}

.bulk-upload-box {
    max-width: 533px !important;
    width: 533px;
    height: 437px;
}

.upload-box {
    border: 2px solid $cancel-bg;
    border-radius: 10px;
    border-style: dashed;
    width: 456px;
    height: 160px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: $upload-bg;
}

.close-flex {
    display: flex;
    justify-content: space-between;
}

.bulk-close {
    margin-right: 30px;
}

.upload-box {
    background-color: $table-header;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.upload-box svg {
    filter: brightness(0) saturate(100%) invert(85%) sepia(6%) saturate(333%) hue-rotate(172deg) brightness(92%) contrast(96%);
}

.upload-box h3 {
    color: $text-gray;
    font-weight: 400;
}

.upload-icon {
    margin-top: -20px;
}

.file-upload {
    color: $turkish-green;
    font-size: 12px;
}

.upload-buttons {
    margin-top: 20px;
    margin-bottom: 30px;
}

.upload-buttons button {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.upload-buttons button:last-child {
    background-color: $turkish-green;
}
.repair-list-bulk-upload-buttons{
    margin-left: 50px;
    display: flex;
    gap: 20px;
}
.repair-list-bulk-upload-buttons button {
    width: 220px;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 40px;
}