@import "variables";

/* Input Field */
.ant-input {
  border-radius: $input-border-radius;
  border-color: $input-border-color;
  &:focus,
  &:hover {
    border-color: $input-border-color-hover;
  }
  &:focus {
    box-shadow: $input-border-box-shadow !important;
  }
}

.ant-upload-drag-icon {
  // margin-top: 10px;
  position: absolute;
  top: 33%;
  left: 37%;
}

.ant-upload.ant-upload-drag {
  border: 0 !important;
  background: none !important;
}

.edit-icon {
  max-width: 0;
  padding-left: 0 !important;
  
}

.delete-icon {
  max-width: 0;
}

.ant-pagination {
  display: none;
}
.ant-table table {
  // border-spacing: 50px 30px;
  border-collapse: collapse;
  width: 100%;
}

.ant-table-tbody > .ant-table-row td{
  padding-left: 50px;  
}

.ant-table-thead th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.even-row td {
  padding-left: 20px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background-color: $bg-white;
}

.ant-table-cell {
  margin-left: 20px !important;
}

.odd-row td{
  padding-left: 20px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background-color: $row-color-first;
}
.antd-table-repair.ant-table {
  border: none;
  border-collapse: collapse;
}

.ant-upload-text {
  color: $draft-text;
  font-weight: 500;
}
.ant-uip
/* Button */

.ant-btn {
  /* Primary button */
  background-color: $button-default-bg-color;
  color: $button-default-text-color;
  border-color: $button-default-border-color;
  border-radius: $button-default-border-radius;
  &.ant-btn-primary {
    background-color: $button-primary-bg-color;
    color: $button-primary-text-color;
    border-color: $button-primary-border-color;
    border-radius: $button-primary-border-radius;
  }
}

/* Checkbox */
.ant-checkbox-wrapper {
  &:hover {
    .ant-checkbox-inner {
      border-color: $checkbox-hover-border-color;
    }
  }
  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: $checkbox-bg-color;
      border-color: $checkbox-hover-border-color !important;
    }

    &::after {
      border-color: $checkbox-hover-border-color;
    }
  }
}

/* Radio Group */
.ant-radio {
  .ant-radio-inner {
    border-color: $radio-border-color !important;
  }

  &.ant-radio-checked {
    .ant-radio-inner {
      border-color: $radio-checked-border-color !important;
      &::after {
        background-color: $radio-checked-bg-color;
      }
    }
  }
}

/* Radio solid */
.ant-radio-group.ant-radio-group-solid {
  .ant-radio-button-wrapper {
    &:hover {
      color: $checkbox-hover-text-color;
    }
    &.ant-radio-button-wrapper-checked {
      background-color: $radio-checked-bg-color;
      border-color: $radio-checked-border-color !important;
      color: $checkbox-text-color;

      &::before {
        background-color: $radio-checked-bg-color !important;
      }
    }
  }
}

/* Select */
.ant-select {
  width: 100%;
  &:focus-visible {
    box-shadow: $select-focus-box-shadow !important;
  }
  .ant-select-selector {
    border-color: $select-border-color !important;
    &:hover {
      border-color: $select-hover-border-color !important;
    }
  }

  &.ant-select-open {
    .ant-select-selector {
      box-shadow: $select-focus-box-shadow !important;
    }
  }
}

.horizontal-pagination-container {
  display: flex;
  align-items: center;
  margin-top: 20px; 
}


.horizontal-pagination {
  display: flex;
  margin-top: -30px;
}

.horizontal-pagination .ant-pagination-item {
  display: inline-block;
  width: 32px;
  margin-right: 5px; 
  border-radius: 50%; 
  text-align: center; 
  line-height: 32px; 
}

.horizontal-pagination .ant-pagination-prev,
.horizontal-pagination .ant-pagination-next {
  display: inline-block;
  vertical-align: middle; 
}

.ant-pagination-item-active {
  background-color: #1890ff; 
  color: white; 
}

.ant-pagination-item-link {
  border: 0;
  margin-right: 10px;
  margin-top: -20px;
}

.bottom-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.container-table {
  border-spacing: 40px 50px !important;
}