@import '../../../styles/variables';

.delete-confirmation-box {
    background-color: $white-bg;
    width: 536px;
    min-height: 320px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.approve-buttons{
    display: flex;
    gap: 30px;
    margin-top: 25px;
    margin-left: 30px;
}

.update-icon-approve-box {
   margin-left: 180px;
}

.approve-buttons button {
    min-width: 220px !important;
    max-width: 220px !important;
    height: 40px !important;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
}

.approve-buttons button:first-child{
    color: $text-black;
}

.approve-buttons button:last-child{
    color: $white-bg
}

.delete-text-icon p:nth-child(2) {
    margin-top: 10px;
    font-size: 24px;
    color: $text-black;
    font-weight: 700 !important;
}

.delete-text-icon p:nth-child(3){
    margin-top: -20px;
    margin-left: 25px;
    font-size: 16px;
    color: $text-gray;
}

.delete-text-icon {
    display: flex;
    margin-top: 30px;
    margin-left: 50px !important;
    flex-flow: column nowrap;
    margin-left: 40px;
    gap: 35px;
}