@import '../../../styles/variables';

.side-bar{
    min-width: 300px;
    background-color: $sidebar-bg;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    max-width: 300px;
}

.side-active{
    border: 1px transparent;
    border-left: solid $turkish-green;
    border-width: 6px;
    background-color: $sidebar-active-bg;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.side-active span{
    filter: $sidebar-span !important;
}

.user-information p:first-child {
    font-size: 14px;
    font-weight: 700;
}

.user-info{
    padding: 25px;
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    margin-left: 15px !important;
}

.user-dropdown-info {
    padding: 25px;
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.user-information-dropdown p:first-child {
    font-weight: 700;
    font-size: 18px;
}

.user-info p:nth-child(1){
    color: $user-info-child-primary;
}

.user-info p:nth-child(2){
    color: $user-info-child-secondary;
    margin-top: 10px;
    font-weight: 300;
}

.logo{
    margin-left: 40px;
    margin-top: 40px;
}

.side-bar__options{
    margin-top: -330px;
}

.side-bar__options-text{
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    font-size: 15px;
}

.side-bar__options-text a:hover {
   color: $sidebar-text;
}

.side-bar__options-text a:hover > span {
    filter: brightness(0) saturate(100%) invert(46%) sepia(11%) saturate(4524%) hue-rotate(127deg) brightness(99%) contrast(62%);
}

.side-bar__options-text a{
    text-decoration: none;
    color: $sidebar-text;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    align-items: center;
    font-weight: 600;
    justify-items: center;

    &.side-active {
        color: $sidebar-active-text;
        font-weight: 600;
    }
}

.side-bar__options-text span{
    margin-right: 24px;
}

.logout-icon{
    filter: $icon-background;
}

.user-arrow{
    position: absolute;
    top: 40%;
    right: 10%;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(351deg) brightness(101%) contrast(101%);
    transition: transform 0.3s ease-in-out;
}

.user-info{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: $userinfo-bg;
    height: 80px;
    opacity: 0.9;
    width: 270px;
    padding-top: 20px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
}

.user-dropdown {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 8px;
    left: 0;
    bottom: 90px;
    width: 270px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, transform 0.5s ease-in-out, margin-left 0.5s ease-in-out;
    background-color: $user-dropdown-bg;
    z-index: 100;
}

.user-dropdown button {
    padding-left: 20px;
    border: 0;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $turkish-green;
    color: $dropdown-button;
}

.drop-active {
    max-height: 245px;
    transform: rotate(180deg);
    margin-left: 20px;

    &.user-dropdown{
        min-height: 245px;
        transition: min-height 0.5s ease-in-out, transform 0.5s;
    }
}

.designation-flex {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.designation-flex p {
    color: $text-gray !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}

.dot {
    border: 1px solid transparent;
    border-radius: 50%;
    font-size: 40px !important;
    margin-top: -28px;
    color: $user-info-child-secondary;
}

.user-email {
    color: $user-info-child-tertiary !important;
    font-size: 15px;
    margin-top: -2px !important;
    font-weight: 600 !important;
}

.mail-container, .number-container {
    display: flex;
    align-items: center;
    gap: 13px;
    justify-items: center;
}


.user-contact {
    border-top: 1px solid $user-contact-border;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $user-contact-border;
}

.number-container{
    margin-top: 20px;
}

.user-number {
    color: $user-info-child-tertiary !important;
    font-size: 15px;
    margin-top: -5px !important;
    font-weight: 600 !important;
}

.logout-container {
    margin-top: 22px;
    display: flex;
    cursor: pointer;
}

.logout-text {
    padding-left: 20px;
    margin-top: -2px !important;
    color: $logout-text !important;
    font-weight: 400 !important;
}

.align-left {
    margin-top: 20px;
    margin-left: -40px !important;
}

.initial {
    width: 43px;
    height: 43px;
    background-color: $initials;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 16px; 
    font-weight: 900;
    color: $initials-text !important; 
}