@import 'assets/fonts/fonts.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SFProDisplay", sans-serif !important;
}

body{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none !important;
}

label {
  display: block !important;
}
